<!DOCTYPE html>
<html>
  <head>
    <title>RunWithMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="shortcut icon" href="https://raw.githubusercontent.com/iamdanahn/RunWithMe/main/public/favicon.ico">

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

     <meta property="og:title" content="Run With Me" />
     <meta property="og:image" content="https://raw.githubusercontent.com/iamdanahn/RunWithMe/main/app/assets/images/RunWithMe.gif"/>
     <meta property="og:description"
       content="An online app where users can track and save their running routes using Google Maps."
     />
     <meta property="og:url"
       content="https://runwithme-aa.herokuapp.com/#/"
     />

    
    <script src="https://kit.fontawesome.com/b9d2927a3f.js" crossorigin="anonymous"></script>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('logo-f2-64.png') %>";
      window.splash1c = "<%= image_url('Splash1-dblu.png') %>";
      window.footerPhone = "<%= image_url('footer-phone.png') %>"
      window.footerBg = "<%= image_url('footer-bg.png') %>"
      window.footerLogo = "<%= image_url('logo-f2-48.png') %>"
      window.splash2r = "<%= image_url('Splash2-right-mod.png') %>"

      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
    </style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
