<!DOCTYPE html>
<html>
  <head>
    <title>RunWithMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.logoURL = "<%= image_url('FSP-logo.png') %>";
      window.splash1a = "<%= image_url('Splash1-v2.jpg') %>";
      window.splash1b = "<%= image_url('Splash-lblu.png') %>";
      window.splash1c = "<%= image_url('Splash-dblu.png') %>";
    </script>
    <script type="text/javascript">
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
